// Variables

$purple-dark: #000070;
$purple: #673ab7;
$purple-light: #ede7f6;


// General

body {
  background-color: $purple-light;
}

h1, h2, h3, h4, h5, h6, .ui.header {
  color: $purple-dark;
}

#menu-btn {
  margin-top: 10px;
}

// Login Page

#login-page {
  h1{
    margin-top: 10vh;
  }
  .buttons {
    margin-top: 5vh;
  }
}

#login-btn {
  background-color: $purple;
  color: #fff;
}

// Rep Page

#rep-card {
  .header {
    margin-top: 25px;
  }
}
