// Fonts
@import url('https://fonts.googleapis.com/css?family=Arvo:400,700');

// Variables

$purple-dark: #000070;
$purple: #673ab7;
$purple-light: #ede7f6;


// General

body {
  background-color: black;
  color: white !important;
}

h1, h2, h3, h4, h5, h6 {
  color: white !important;
}

#menu-btn {
  margin-top: 10px;
  color: #fff;
  i {
    font-size: 2.5rem;
  }
  background-color: rgba(0,0,0,0);
}

#brand-logo {
  margin: 15px;
  text-transform: uppercase;
  font-family: 'Arvo', serif;
  font-weight: 700;
}

#brand-logo,
#login .ui.header,
.ui.form .field>label {
  color: white !important;
}

.bg-img{
  background-image: url('/img/sb.jpg');
  background-size: cover;
  filter: blur(5px);
  z-index: -2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  opacity: .5;
}

.ui.fluid.card {
  margin-bottom: 40px;
}

.ui.card.feed-item {
  margin: 14px auto;
}
.flex-feed-item {
  align-items: center;
  display: flex;
}

// Login Page

#login-page {
  h1{
    margin-top: 10vh;
  }
  .buttons {
    margin-top: 5vh;
  }
}

#login-btn {
  background-color: $purple;
  color: #fff;
}

// Rep Page

#rep-page {
  .ui.header {
    color: white;
  }

  a {
    font-size: 16px;
  }
}

.rep-card {
  .header {
    margin-top: 25px;
  }

  &.ui.fluid.card {
    margin-bottom: 20px;
  }
}

.text-center {
  text-align: center;
}

// Profile Page

.profile-photo {
  border-radius: 10px;
  margin-bottom: 30px;
}

// Donations Page

#paypal-btn {
  display: block;
  margin: 0 auto;
}

.category-box > * {
  height: 100px;
}

#categories-page .ui.header {
  margin-top: 10px;
}

#categories-page i.icon:before {
  color: black;
}

#profile-page {
  .header {
    color: white !important;
  }
}